/* Style customizations for this search-by-color application. */

body {
    background-color: #eeeeee;
}

.gallery-prompt {
    margin-top: 10px;
}

.inl-bl {
    display: inline-block;
}

 .colorpicker .colorpicker-saturation {
     width: 200px;
     height: 200px;
 }

.colorpicker .colorpicker-hue,
.colorpicker .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker .colorpicker-color,
.colorpicker .colorpicker-color div {
    height: 30px;
}

